/* Initializing */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

/* General Settings */
body {
  font-size: 1.7rem;
  font-family: "GeneralSans-Regular", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}

/* Header + NavBar */
header {
  margin: 0 0;
  padding: 1.5rem 3rem 1rem 4rem;
  font-family: "SFProDisplay", sans-serif;
  font-size: 3rem;
  background: #0F111F;
}
header .flexNavP {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav {
  top: 0;
  left: 0;
}
header nav .legend {
  font-size: 1.5rem;
  color: darkgray;
}
header nav .nav__brand {
  font-family: "GeneralSans-Regular", sans-serif;
  color: crimson;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-style: italic;
}
header nav .nav__links ul {
  text-align: center;
}
header nav .nav__links ul a:hover {
  font-weight: bold;
  cursor: pointer;
}
header nav li {
  font-size: 1.8rem;
  display: inline-block;
  padding: 0.7rem 0.5rem 0 0;
  font-family: SFProDisplay, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
}
header nav li a {
  color: #CBD1D6;
}

/* Footer */
footer {
  padding: 1.5rem 3rem 1rem 4rem;
  /* background-color: darkslateblue;
  background-image: linear-gradient(to right, darkslateblue, midnightblue);*/
  background: #0F111F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* cuando la pantalla es muy alta queda el piso en color blanco */
}
footer a {
  color: crimson;
}
footer .foot__brand {
  max-width: 30%;
  display: inline;
  color: white;
}
footer .links {
  display: inline;
  text-align: right;
  font-size: 1.5rem;
  padding: 0 0;
}
footer .links li {
  display: inline-block;
  margin-left: 0.5rem;
}

/* Main */
main {
  padding: 3rem;
}

/* Section */
section {
  margin-bottom: 4rem;
}
section .team__roster {
  text-align: center;
  padding: 5rem 5rem;
}
section .team__roster .member__name {
  padding-bottom: 0.75rem;
}
section .team__roster .member__role {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  font-weight: bold;
}
section .sectImg {
  grid-area: image;
  margin: auto;
  width: 50%;
}
section .title {
  color: red;
  text-shadow: 0.4rem 0.4rem 0.2rem #0F111F;
  grid-area: title;
  margin-bottom: 3rem;
  font-family: "GeneralSans-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
section .content {
  margin: 0 0 0 5rem;
  line-height: 2.5rem;
  grid-area: content;
}
section .content form {
  padding-top: 2rem;
  text-align: center;
  line-height: 4rem;
}
section #creators {
  text-align: right;
}
section p span.highlight {
  font-style: italic;
}
section p a {
  color: olive;
}
section p ahover {
  font-weight: bold;
  cursor: pointer;
}
section ul {
  list-style-type: square;
  list-style-image: url("../img/checkmark-16.png");
}
section ol.c {
  list-style-type: upper-roman;
}

.ima {
  overflow: hidden;
  transition-duration: 1.2s;
  transition-property: transform;
}
.ima:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

tr:last-child {
  border-bottom: none;
}

th {
  background-color: azure;
}

/* Paragraph Styling */
.terms {
  display: inline-block;
  margin-right: 1rem;
}

/* BOOTSTRAP */
.btn {
  font-size: 1.25rem;
}

.btn-primary {
  background: linear-gradient(234.56deg, #8F38A1 1.22%, #E83862 42.78%, #E83A50 62.08%, #EC6D39 100%);
  border: 0;
}

.btn-warning {
  background: linear-gradient(234.56deg, #8F38A1 1.22%, #EC6D39 42.78%, #E83A50 62.08%, #E83862 100%);
  border: 0;
  color: white;
}

/* Media Queries for Responsive Layout */
@media only screen and (min-width: 920px) {
  .flexNavP {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .nav__links ul {
    text-align: right;
  }

  .team__roster {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }
  .team__roster .member {
    flex: 1 0 21%;
    padding: 0.7rem 0.5rem;
  }

  .member__role {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 1150px) {
  header {
    padding: 1.5rem 10% 1rem 15%;
  }
  header .flexNavP {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  footer {
    padding: 1.5rem 10% 1rem 15%;
  }
  footer .nav__links ul {
    text-align: right;
  }

  section .title {
    grid-area: title;
    margin-bottom: auto;
  }

  .section__back {
    display: grid;
    grid-template-areas: "title ." "content image";
    grid-template-rows: 10% 90%;
    grid-template-columns: 70% auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-items: center;
  }

  .section__back .title {
    text-align: left;
  }

  .section__forth .title {
    text-align: right;
  }

  .section__center .title {
    text-align: center;
  }

  .section__forth {
    display: grid;
    grid-template-areas: ". title" "image content";
    grid-template-rows: 10% 90%;
    grid-template-columns: auto 70%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-items: center;
  }

  section .sectImg {
    grid-area: image;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width: 1366px) {
  main {
    padding: 4rem 15%;
  }
}

/*# sourceMappingURL=style.css.map */
